/*================== BODY ==================*/
body {
	text-align: center;
	font-family: 'Raleway', sans-serif;
}
/*================== HEADING ==================*/
#heading {
	background: pink;
	color: white;
	font-weight: bolder;
	font-size: 40px;
	padding: 80px;
	font-family: 'Alatsi', sans-serif;
}
/*================== ROWS ==================*/
.section {
	color: grey;
}
h5 {
	color: pink;
	font-weight: bold;
}
h6 {
	color: pink;
}
p {
	text-align: left;
	color: grey;
}
/*==================  ==================*/
li {
	color: grey;
}
/*==================  ==================*/
#navigating-section {
	border-color: grey;
}